body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  background-repeat: no-repeat;
  color: white;
}


.score-section {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  /* text-align: center; */
}

.question-container {
  /* text-align: center; */
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.option-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  color: #000000;
  width: 100%;
}

h1{
    font-size: 2.4rem;
}
a {
    color: white;
    transition: color 0.5s;
    text-decoration: none;
}
p {
    text-align: center;
}
a:hover {
    background: linear-gradient(135deg, #667eea, #764ba2);
    background-clip: text;
    -webkit-background-clip: text;
    transition: none;
    color: transparent;
}

h1 {
    text-align: center;
}
.getButton {
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 768px) {
  .quiz-container {
    width: 73%;
    
  }
  body::before {
    font-size:.1px;
    margin-left:10px;

  }
}
